<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if current_user %>
      <%= image_tag current_user.image %>
      <h2> <%= current_user.name %></h2>
      <p class = "grey"> <%= current_user.nickname %></p>
      <hr/>
      <div class="row followed-following">
        <div class="col-md-4">
          <h3> <%= @service.followers.count %> </h3>
          <p>followers</p>
        </div>
        <div class="col-md-4">
          <h3><%= @service.following.count %> </h3>
          <p>following</p>
        </div>
        <div class="col-md-4">
          <h3><%= @service.starred.count %></h3>
          <p>starred</p>
        </div>
      </div>
      <hr/>
      <h4>Organizations</h3>
      <% if @orgs.empty? %>
         <p class="greyer">You are not a member of any organizations</p>
      <% end %>
      <% @orgs.each do |org| %>
        <%= org.login %>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <h4>Your Repositories</h4>
        <%= render partial: "/partials/spinning_wheel", locals: { id: "repo-wheel"} %>
        <div id="all_repos">
        </div>
        <h4 class="contributions-header">Contributions</h4>
        <div class="col-md-4 contribution-block">
          <p>Contributions in the last year</p>
          <h3 class = "contributions"><%= @service.contributions_year %></h3>
          <p>Date range</p>
        </div>
        <div class="col-md-4 contribution-block">
          <p>Longest streak</p>
          <h3 class = "contributions"><%= @service.longest_streak %></h3>
          <p>Date range</p>
        </div>
        <div class="col-md-4 contribution-block">
          <p>Current Streak</p>
          <h3 class = "contributions"> <%= @service.current_streak %> </h3>
          <p>Date range</p>
        </div>
      </div>
      <h4 class="commits-header">Contribution Activity</h4>
      <%= render partial: "/partials/spinning_wheel", locals: { id: "commits-wheel"}  %>
      <%= render partial: "/partials/commit_table" %>
      <table class="table"id="my_commits">
      </table>
      <hr>
      <h4 class="following-header">Activity from Users You Follow</h4>
      <%= render partial: "/partials/spinning_wheel", locals: { id: "following-wheel"} %>
      <%= render partial: "/partials/commit_table" %>
      <table class="table"id="following_commits">
      </table>
    <% end %>
    </div>
  </div>
</div>
