<div class="container">
  <div class="row">
    <h3>Create New Public Gist</h3>
    <div class="col-xs-4 col-xs-offset-4">
      <br/>
      <br/>
      <%= form_tag(user_gists_path) do |f| %>
        <div class="field">
          <%= label_tag :description %><br>
          <%= text_field_tag :description, nil, class:"form-control text-input", required:true %>
        </div>
        <div class="field">
          <%= label_tag :title %><br>
          <%= text_field_tag :title, nil, class:"form-control text-input", required:true %>
        </div>
        <div class="field">
          <%= label_tag :contents %><br>
          <%= text_area_tag :contents, nil, class:"form-control text-input", required:true %>
        </div>
        <br>
      <%= submit_tag "Create New Public Gist", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
<br>
